body,
div,
span,
p,
a,
img,
ul,
ol,
dl,
li,
dt,
dd,
h1,
h2,
h3,
h4,
input,
i,
em,
b,
strong,
del,
s,
u,
input {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

input {
  border: 0 none;
  outline: 0 none;
}

img {
  border: 0 none;
  vertical-align: middle;
}

i,
em {
  font-style: normal;
}

h1,
h2,
h3,
h4,
b,
strong {
  font-weight: normal;
}

li {
  list-style: none;
}

.w {
  width: 1200px;
  margin: 0 auto;
}

body {
  font: 12px/100% "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  background-color: #fff;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
}

body,
html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container .header {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e6e6e6;
}
.container .header .header-info {
  flex-basis: 50px;
  background-color: #ff841d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 5px;
}
.container .header .header-info .logo a img {
  width: 180px;
}
.container .header .header-info .app a img {
  width: 35px;
}
.container .header .search {
  flex-basis: 50px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  position: relative;
}
.container .header .search input {
  font-size: 16px;
  height: 30px;
  border-radius: 30px;
  margin: 0;
  background-color: #f1f1f1;
  border: none;
}
.container .header .search button {
  font-size: 16px;
  color: white;
  width: 64px;
  line-height: 30px;
  padding: 0;
  border-radius: 30px;
  background-color: #ff841d;
  border: none;
  outline: none;
  position: absolute;
  right: 10px;
}
.container .main {
  flex: 1;
}
.container #hidden {
  flex-basis: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  flex-basis: 70px;
  background-color: #fff;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}
.container #hidden .left {
  display: flex;
  flex: 1;
}
.container #hidden .left a {
  margin-top: 20px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 10px;
}
.container #hidden .left img {
  height: 40px;
  width: 49px;
  margin-top: 15px;
}
.container #hidden .left p {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.container #hidden .left p span {
  padding: 5px;
}
.container #hidden .footer-btn {
  background-color: #ff7700;
}
.container .footer {
  flex-basis: 100px;
  background-color: #efefef;
}
.container .footer .footer-nav {
  flex-basis: 35px;
}
.container .footer .footer-nav ul {
  display: flex;
  align-items: center;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
}
.container .footer .footer-nav ul li {
  flex: 1;
  border-right: 1px solid #c4c4c4;
}
.container .footer .footer-nav ul li:nth-child(3) {
  border-right: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .footer .footer-nav ul li.active {
  box-shadow: 0px 0px 5px #92bdda;
}
.container .footer .footer-nav ul li a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  line-height: 35px;
  color: #5a5a5a;
}
.container .footer .footer-nav ul li img {
  width: 15px;
  display: block;
}
.container .footer .footer-info {
  height: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #5a5a5a;
}
.container .footer .footer-info p a {
  color: red;
}

.container .main {
  background-color: #f2f2f2;
}
.container .main .man {
  display: block;
  position: fixed;
  right: 0;
  bottom: 102px;
  z-index: 100;
}
.container .main .man img {
  width: 60px;
}
.container .main .navbar {
  background-color: #fff;
  max-height: 225px;
  overflow: hidden;
}
.container .main .navbar ul {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0px 5px;
}
.container .main .navbar ul li {
  width: 25%;
  margin-bottom: 15px;
  padding: 5px 0;
}
.container .main .navbar ul li:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 0 1px 6px rgba(0, 0, 0, 0.05), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1), 8px 32px 32px rgba(0, 0, 0, 0.15), 8px 64px 64px rgba(0, 0, 0, 0.15);
}
.container .main .navbar ul li.active {
  transition: box-shadow 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99);
}
.container .main .navbar ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.container .main .navbar ul li a img {
  width: 50px;
  margin-bottom: 15px;
}
.container .main .recommend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff9a17;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffaf47), to(#ff9000));
  height: 35px;
  padding: 0 10px;
  margin-top: 5px;
}
.container .main .recommend span {
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.container .main .recommend img {
  width: 20px;
  display: block;
}
.container .main .products {
  background-color: #fff;
}
.container .main .products li {
  padding: 20px 10px;
  border-bottom: 1px solid #e0e0e0;
}
.container .main .products li a {
  display: flex;
}
.container .main .products li a .left {
  margin-right: 10px;
}
.container .main .products li a .left img {
  width: 100px;
}
.container .main .products li a .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container .main .products li a .right .title span {
  font-size: 16px;
  line-height: 25px;
}
.container .main .products li a .right .title .price {
  color: #ff6c00;
}
.container .main .products li a .right .other {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.container .main .products li a .right .other span {
  color: #a1a1a1;
  font-size: 14px;
}
.container .main .products li a .right .other span .mui-icon-chat {
  font-size: 14px;
}
.container .main .btn {
  text-align: center;
}
.container .main .btn a {
  display: block;
  line-height: 30px;
  margin: 10px;
  background-color: #F4F4F4;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-image: linear-gradient(#ffffff, #f4f4f4);
}
.container .main .btn a span {
  color: #5a5a5a;
}

/*# sourceMappingURL=index.css.map */
