body,
div,
span,
p,
a,
img,
ul,
ol,
dl,
li,
dt,
dd,
h1,
h2,
h3,
h4,
input,
i,
em,
b,
strong,
del,
s,
u,
input {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

input {
  border: 0 none;
  outline: 0 none;
}

img {
  border: 0 none;
  vertical-align: middle;
}

i,
em {
  font-style: normal;
}

h1,
h2,
h3,
h4,
b,
strong {
  font-weight: normal;
}

li {
  list-style: none;
}

.w {
  width: 1200px;
  margin: 0 auto;
}

body {
  font: 12px/100% "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  background-color: #fff;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
}

body,
html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container .header {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e6e6e6;
}
.container .header .header-info {
  flex-basis: 50px;
  background-color: #ff841d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 5px;
}
.container .header .header-info .logo a img {
  width: 180px;
}
.container .header .header-info .app a img {
  width: 35px;
}
.container .header .search {
  flex-basis: 50px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  position: relative;
}
.container .header .search input {
  font-size: 16px;
  height: 30px;
  border-radius: 30px;
  margin: 0;
  background-color: #f1f1f1;
  border: none;
}
.container .header .search button {
  font-size: 16px;
  color: white;
  width: 64px;
  line-height: 30px;
  padding: 0;
  border-radius: 30px;
  background-color: #ff841d;
  border: none;
  outline: none;
  position: absolute;
  right: 10px;
}
.container .main {
  flex: 1;
}
.container #hidden {
  flex-basis: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  flex-basis: 70px;
  background-color: #fff;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}
.container #hidden .left {
  display: flex;
  flex: 1;
}
.container #hidden .left a {
  margin-top: 20px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 10px;
}
.container #hidden .left img {
  height: 40px;
  width: 49px;
  margin-top: 15px;
}
.container #hidden .left p {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.container #hidden .left p span {
  padding: 5px;
}
.container #hidden .footer-btn {
  background-color: #ff7700;
}
.container .footer {
  flex-basis: 100px;
  background-color: #efefef;
}
.container .footer .footer-nav {
  flex-basis: 35px;
}
.container .footer .footer-nav ul {
  display: flex;
  align-items: center;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
}
.container .footer .footer-nav ul li {
  flex: 1;
  border-right: 1px solid #c4c4c4;
}
.container .footer .footer-nav ul li:nth-child(3) {
  border-right: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .footer .footer-nav ul li.active {
  box-shadow: 0px 0px 5px #92bdda;
}
.container .footer .footer-nav ul li a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  line-height: 35px;
  color: #5a5a5a;
}
.container .footer .footer-nav ul li img {
  width: 15px;
  display: block;
}
.container .footer .footer-info {
  height: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #5a5a5a;
}
.container .footer .footer-info p a {
  color: red;
}

.main {
  background-color: #ddd;
}
.main .navs {
  height: 45px;
  background-color: #ddd;
  display: flex;
  padding: 0 10px;
}
.main .navs a {
  text-align: center;
  line-height: 45px;
  font-size: 14px;
}
.main .detail {
  height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #fff;
}
.main .detail .pic {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .detail .pic img {
  width: 170px;
}
.main .detail .tes {
  color: black;
  padding: 0px 10px;
}
.main .detail .price {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}
.main .tab {
  height: 40px;
  border-top: 1px solid #c14d00;
  border-bottom: 1px solid #c14d00;
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.main .tab li {
  flex: 33.33%;
  display: flex;
  justify-content: center;
  height: 40px;
  line-height: 40px;
}
.main .tab li:nth-child(odd) {
  background-color: #ffc526;
}
.main .tab li:nth-child(2) {
  background-color: #ff9e1f;
  border-left: 1px solid #c14d00;
  border-right: 1px solid #c14d00;
}
.main .tab li a {
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.main .bigbox {
  margin-top: 10px;
  padding: 10px;
  background-color: #ededed;
  border: 1px solid #ccc;
  margin: 10px;
  border-radius: 5px;
}
.main .bigbox .box h4 {
  font-weight: bold;
  padding: 10px 0px;
}
.main .bigbox .box ul li {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 8px 0px;
}
.main .bigbox .box ul li .left {
  flex: 1;
  font-size: 14px;
  color: #666666;
}
.main .bigbox .box ul li .right {
  flex: 1;
  font-size: 14px;
  color: #666666;
  line-height: 20px;
}
.main .synopsis {
  height: 45px;
  background-color: #ccc;
  padding-top: 10px;
}
.main .synopsis h4 {
  padding-left: 20px;
  font-weight: bold;
}
.main .shop .price {
  height: 45px;
  background-color: #ccc;
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
}
.main .shop .price span {
  line-height: 45px;
}
.main .shop .list li {
  display: flex;
  border-bottom: 1px solid #ccc;
  align-items: center;
  margin-bottom: 10px;
}
.main .shop .list li .left {
  flex: 1;
}
.main .shop .list li .right {
  float: right;
}
.main .shop .list li .right .num {
  color: red;
  font-size: 16px;
}
.main .shop .list li .right .btn {
  background-color: #ff5500;
  color: white;
}
.main .message {
  height: 70px;
}
.main .message .tes {
  margin-top: 20px;
}

/*# sourceMappingURL=parameter.css.map */
