@import "common.scss";

.main {
    display: flex;
    flex-direction: column;
    .navBar {
        flex-basis: 30px;
        line-height: 30px;
        color: #000;
        background-color: #f3f3f3;
        border-bottom: 1px solid #c4c4c4;
        padding-left: 5px;
    }
    .brandTitles {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        position: relative;
        .title {
            flex-basis: 40px;
            line-height: 40px;
            padding-left: 10px;
            background-color: #eee;
            color: #874604;
            font-size: 16px;
            font-weight: bold;
        }
        .brands {
            flex: 1;
            li.brand {
                line-height: 20px;
                margin: 10px 0;
                padding-left: 10px;
                color: #874604;
                font-size: 16px;
                font-weight: bold;
                margin: 0;
                border: 0px solid #000;
                border-bottom: 1px solid #c4c4c4;
                .mui-navigate-right {
                    color: #000;
                    display: flex;
                    font-weight: normal;
                    .left {
                        margin-right: 8px;
                        .mui-badge{
                            border-radius: 0;
                        }
                    }
                    .right{
                        .brandName{
                            color: #000;
                            font-size: 14px;
                        }
                        .sell{
                            font-size: 12px;
                            color:#b7b7b7;
                        }
                    }
                }
                &:after {
                    height: 0;
                }
            } // 右侧小箭头
            .mui-navigate-right:after {
                // 583 箭头向右
                content: '\e583';
                color: #666;
                font-size: 20px;
            }
        }
    }
}