.slide{
    width: 80%;
     height: 100%;
     background-color: #fff;
       position: fixed;
       z-index: 100;
       left: 0;
       top: 0;
       display: none;
       .text{
           height: 45px;
           border-bottom: 1px solid #ccc;
           text-align: center;
           line-height: 45px;
           font-size:20px;
           padding-right: 10px;
           position: relative;
           z-index: 100;
           background-color: #fff;
   
           .close{
               font-size: 16px;
           }
       }
       .content{
       //    height: 100%;
           
           ul{
               margin-top: 50px;
               li{
                   .top{
                       height: 45px;
                       font-size:16px;
                       line-height: 45px;
                       padding-left:20px;
                       .all{
                           font-size:12px;
                           color:red;
                       }
                       .mui-icon{
                           font-size:18px;
                           margin-top: 15px;
                           margin-right: 10px;
                       }
                   }
                   .bottom{
                       display: flex;
                       flex-wrap: wrap;
                       justify-content: space-around;
                       padding: 0px 20px;
                      align-items: center;
                      height: 85px;
                      button{
                         flex-basis: 31%;
                       
                      }
                   }
               }
           }
       }
   }