body,
div,
span,
p,
a,
img,
ul,
ol,
dl,
li,
dt,
dd,
h1,
h2,
h3,
h4,
input,
i,
em,
b,
strong,
del,
s,
u,
input {
    padding: 0;
    margin: 0;
}



a {
    text-decoration: none;
    color: #000;
}



input {
    border: 0 none;
    outline: 0 none;
}



img {
    border: 0 none;
    vertical-align: middle;
}


i,
em {
    font-style: normal;
}

h1,
h2,
h3,
h4,
b,
strong {
    font-weight: normal;
}

li {
    list-style: none;
}



.w {
    width: 1200px;
    margin: 0 auto;
}



body {
    font: 12px/100% "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    background-color: #fff;
}


.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}

body,
html {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}


.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    .header {
        min-height: 100px;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #e6e6e6;
        .header-info {
            flex-basis: 50px;
            background-color: #ff841d;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 15px;
            padding-right: 5px;
            .logo {
                a {
                    img {
                        width: 180px;
                    }
                }
            }
            .app {
                a {
                    img {
                        width: 35px;
                        ;
                    }
                }
            }
        }
        .search {
            flex-basis: 50px;
            display: flex;
            align-items: center;
            padding: 0 10px;
            position: relative;
            input {
                font-size: 16px;
                height: 30px;
                border-radius: 30px;
                margin: 0;
                background-color: #f1f1f1;
                border: none;
            }
            button {
                font-size: 16px;
                color: white;
                width: 64px;
                line-height: 30px;
                padding: 0;
                border-radius: 30px;
                background-color: #ff841d;
                border: none;
                outline: none;
                position: absolute;
                right: 10px;
            }
        }
    }
    .main {
        flex: 1;
       
    }
    // 点击底部消失区域
    #hidden {
      
        flex-basis: 50px;
        position: fixed;
        bottom: 0;
        width: 100%;
        flex-basis: 70px;
        background-color: #fff;
        justify-content: space-between;
        display: flex;
        align-items: center;
        padding: 0px 10px;
        .left{
            display: flex;
            flex: 1;
            a{
               margin-top: 20px;
                height: 25px;
                width: 25px;
                border-radius: 50%;
                background-color: #ccc;
              
                  
                    margin-right: 10px;
            
            }
            img{
                height: 40px;
                width: 49px;
               margin-top: 15px;
            }
            p{
                display: flex;
                flex-direction: column;
                padding: 10px;
                span{
                    padding: 5px;
                }
            }
           
        }
        .footer-btn{
            background-color: #ff7700;
        }
        }
    .footer {
        flex-basis: 100px;
        background-color: #efefef;
        .footer-nav {
            flex-basis: 35px;
            ul {
                display: flex;
                align-items: center;
                border-top: 1px solid #c4c4c4;
                border-bottom: 1px solid #c4c4c4;
                li {
                    flex: 1;
                    border-right: 1px solid #c4c4c4;
                    &:nth-child(3) {
                        border-right: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    &.active {
                        box-shadow: 0px 0px 5px rgb(146, 189, 218);
                    } 
                        a {
                            display: flex;
                            justify-content: center;
                            text-decoration: none;
                            line-height: 35px;
                            color: #5a5a5a;
                        }
                        img {
                            width: 15px;
                            display: block;
                        }
                    }
                }
            }
            .footer-info {
                height: 65px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: #5a5a5a;
                p {
                    a {
                        color: red;
                    }
                }
            }
        }
    }
