body,
div,
span,
p,
a,
img,
ul,
ol,
dl,
li,
dt,
dd,
h1,
h2,
h3,
h4,
input,
i,
em,
b,
strong,
del,
s,
u,
input {
    padding: 0;
    margin: 0;
}

/* 清楚网页内标签的内外边距 */

a {
    text-decoration: none;
    color: #000;
}

/* 清楚a标签的下划线和默认字体颜色 */

input {
    border: 0 none;
    outline: 0 none;
}

/* 清除表单输入框的边框和外轮廓线 */

img {
    border: 0 none;
    vertical-align: middle;
}

/* 低版本的插入图片会默认生成边框 */

i,
em {
    font-style: normal;
}

h1,
h2,
h3,
h4,
b,
strong {
    font-weight: normal;
}

li {
    list-style: none;
}

/* 清除li标签的默认小点点 */

.w {
    width: 1200px;
    margin: 0 auto;
}

/* 设置网页的版心 */

body {
    font: 12px/100% "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    background-color: #fff;
}

/* 修改网页默认字体和行高 */

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}

body,
html {
   
    width: 100%;
    height: 100%;
}
body{
    box-sizing: border-box;
    height: 100%;
}
/* 设置清除浮动影响 */
div.container{
    padding-left: 0px;
    padding-right: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;

    .header{
        flex-basis: 50px;
        background-color: #f4483e;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .back {
            a {
                font-size: 20px;
                color: #fff;
                padding-left: 15px;
            }
        }

        .title{
            font-size: 20px;
            color: #fff;
        }
        .app {
            padding-right: 15px;
            a {
                img {
                    width: 35px;
                    ;
                }
            }
        }
    }

    div.main{
        position: relative;
        flex: 1;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        .bar{
            flex-basis: 26px;
            color: #888;
            font-size: 14px;
            text-align: center;
            margin-bottom: 0;
            line-height: 26px;
        }
        .list{
            flex:1;
            display: flex;
            flex-direction: column;
            li{
                // background-color: #5a5a5a;
                flex: 1;
                margin-top: 10px;
                padding-left: 5px;
                padding-right: 5px;
                flex-basis: 120px;
                display: flex;
                flex-direction: column;
                .top{
                    flex-basis: 80px;
                    display: flex;
                    img{
                        width: 30%;
                    }
                    .info{
                        overflow: hidden;
                        text-overflow:ellipsis; //文本溢出显示省略号
                        white-space: nowrap;
                        width:130px;
                        padding-left: 10px;
                        width: 65%;
                        display: flex;
                        flex-direction: column;
                        font-size: 12px;
                    }
                    .arrow{
                        width: 3%;
                    }
                }
                .bottom{
                    flex-basis: 40px;
                    text-align: center;
                    line-height: 40px;
                    border-bottom: 1px solid #ccc;
                    color: #f18e2c;
                }
            }
            
        }
    }

    .footer {
        flex-basis: 100px;
        background-color: #efefef;
        .footer-nav {
            flex-basis: 35px;
            ul {
                display: flex;
                align-items: center;
                border-top: 1px solid #c4c4c4;
                border-bottom: 1px solid #c4c4c4;
                li {
                    line-height: 35px;
                    flex: 1;
                    text-align: center;
                    border-right: 1px solid #c4c4c4;
                    &:nth-child(3) {
                        border-right: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    a {
                        color: #5a5a5a;
                    }
                    img {
                        width: 15px;
                        display: block;
                    }
                }
            }
        }
        .footer-info {
            height: 65px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #5a5a5a;
            p {
                a {
                    color: red;
                }
            }
        }
    }
}
