
.container {
    display: flex;
    flex-direction: column;

    .top {
        flex-basis: 40px;
        display: flex;            
        background-color: #ff8b00;
       

        .back  {
            flex-basis: 40px;         
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
        }

      

        .title {
            flex: 1;
            font-size: 18px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .right  {
            flex-basis: 40px;
            
        }
    }
    .select {
        flex-basis: 38px;
        display: flex;
        background-color: #fff;
        border-bottom:1px solid #dadada;

        

       .left {
           flex: 1;
           display: flex;

           a {
               width: 33.3335%;
               display: flex;
               justify-content: center;
               align-items: center;
               color: #565656;

               &.active {
                   color: #f8601d;
               }

               .size {
                   font-size: 16px;
               }
               
            .down {
               font-size: 12px;
               font-weight: bold;
               margin-left: 3px;

               &.tr {
                transform: rotate(180deg);
            }
           }

           }

           
       }

       .right {
           flex-basis: 38px;
           display: flex;
           justify-content: center;
           align-items: center;
           border-left:1px solid #dadada;
       }
    }

    .drop,.drop1,.drop2 {
        display: flex;
        position: relative;
        display: none;
        box-shadow: 1px 3px 1px #ccc;
             

        ul {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            z-index: 999; 

            li {
                display: flex;
                justify-content: space-between;

                .mui-icon-checkmarkempty {
                    color: #f8601d;
                }

                .true {
                    color: #f8601d;
                    font-size: 20px;
                    font-weight: 800;
                }
            }
        }
    }

    .drop3 {
        box-shadow: 1px 3px 1px #ccc;
        padding: 10px;
        background-color: #fff;
        border: 0 none;
        display: none;
        position: relative;

        ul {
            input {
            padding-left: 10px;
            border-radius: 10px;
            // border-top: 0 none;
            outline: 0 none;
            box-sizing: border-box;
            box-shadow: 1px -1px 2px #f8601d inset;
            border-top: 1px solid #f8601d;
        }

        .desc {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #cccccc;
            height: 50px;

            span {
                // margin-right: 10px;
                width: 23%;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 14px;
                border: 1px solid #cccccc;
               

                height: 30px;
                // background-color: #f8601d;

                &.ligth {
                    background-color: #ff8b00;
                    color: white;
                }

                &:nth-child(4) {
                    border:0 none;
                }
            }
        }

        .cate {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            
            height: 100px;

            a {
                // margin-right: 20px;
                width: 23%;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;             
                height: 30px;

                span {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 14px;
                    border-radius: 5px;
                    color: #333333;
                    height: 30px;
                    // background-color: #ff8b00;
                    border: 1px solid #cccccc;

                  
                }

                &.ca {
                    background-color: #ff8b00;
                   color: white;
                }
              


               
            }
        }
        }

       
        
    }

    .main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding:10px;
        position: relative;
     

        .banner {
            width: 50%;
            display: flex;

            a {

                display: flex;
                padding:5px;
                width: 100%;
                flex-direction: column;
                // border: 1px solid yellow;

               
                

                img {
                    width: 100%;
                }
    
                p {
                    width: 100%;
                    margin: 0;
                    background-color: #fff;
                   
                    height: 30px;
                    
                }
    
                .first {
                    // margin-top: 5px;
                    font-size: 12px;
                    color:#333333;
                    word-break: break-all;
                    overflow: hidden;
                    height: 20px;
                }
    
                .second {
                    color: #f8601d;
                    font-size: 24px;
                    line-height: 30px;
                    display: flex;
                    justify-content: space-between;

                    .there {
                        background-color: #f8601d;
                        color: white;
                        font-size: 16px;
                        padding: 0px 10px;
                        border-radius: 2px;
                        margin-right: 9px;
                    }
                }

            }

          
        }

        .rotate {
            width: 80px;
            height: 80px;
            background-color: #ff8b00;
            position: absolute;
            margin-top: 100px;
            left: 50%;
           
            margin-left: -40px;
            animation: move 2s infinite;
            
        }

        .mask {
            display: flex;
            position: absolute;
            margin: 100px auto;
            width: 100%;
            height: 100%;
            flex-direction: column;
            z-index: 0;
            .top {
                flex-basis: 85px;
    
            }
    
            .bottom {
                flex: 1;
                background-color: #efeff4;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-bottom: 50px;
    
                .little {
                    width: 80px;
                    height: 80px;
                    border: 2px solid #ff8b00;                
                    animation: move 2s infinite;
                    
                }
            }
        }
    
    }

  
}

@keyframes move {

    100% {
        transform:rotate(360deg);
    }
}