@import "./common";
.container {
    .main {
        background-color: #f2f2f2;
        .man {
            display: block;
            position: fixed;
            right: 0;
            bottom: 102px;
            z-index: 100;
            img {
                width: 60px;
            }
        }
        .navbar {
            background-color: #fff;
            max-height: 225px;
            overflow: hidden;
            ul {
                display: flex;
                flex-wrap: wrap;
                padding: 15px 0px 5px; 
                
                li {
                    width: 25%;
                    margin-bottom: 15px;
                    padding: 5px 0;
                    

                     &:hover {
                         box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 0 1px 6px rgba(0, 0, 0, 0.05), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1), 8px 32px 32px rgba(0, 0, 0, 0.15), 8px 64px 64px rgba(0, 0, 0, 0.15);
                     }
                    &.active {
                        transition: box-shadow 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99);
                        // box-shadow: 1px 1px 5px rgb(183, 185, 187);
                        // background-color: rgb(236, 236, 236);
                    }
                    a {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between; 
                        img {
                            width: 50px;
                            margin-bottom: 15px;
                        }
                    }
                }
            }
        }
        .recommend {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #ff9a17;
            background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffaf47), to(#ff9000));
            height: 35px;
            padding: 0 10px;
            margin-top: 5px;
            span {
                font-size: 20px;
                font-weight: bold;
                color: white;
            }
            img {
                width: 20px;
                display: block;
            }
        }
        .products {
            background-color: #fff;
            li {
                padding: 20px 10px;
                border-bottom: 1px solid #e0e0e0;
                a {
                    display: flex;
                    .left {
                        margin-right: 10px;
                        img {
                            width: 100px;
                        }
                    }
                    .right {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        .title {
                            span {
                                font-size: 16px;
                                line-height: 25px;
                            }
                            .price {
                                color: #ff6c00;
                            }
                        }
                        .other {
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 5px;
                            span {
                                color: #a1a1a1;
                                font-size: 14px;
                                .mui-icon-chat {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .btn {
            text-align: center;
            a {
                display: block;
                line-height: 30px;
                margin: 10px;
                background-color: #F4F4F4;
                border-radius: 4px;
                border: 1px solid #ddd;
                background-image: linear-gradient(#ffffff, #f4f4f4);
                span {
                    color: #5a5a5a;
                }

            }
        }
    }
}