body,
div,
span,
p,
a,
img,
ul,
ol,
dl,
li,
dt,
dd,
h1,
h2,
h3,
h4,
input,
i,
em,
b,
strong,
del,
s,
u,
input {
    padding: 0;
    margin: 0;
}

/* 清楚网页内标签的内外边距 */

a {
    text-decoration: none;
    color: #000;
}

/* 清楚a标签的下划线和默认字体颜色 */

input {
    border: 0 none;
    outline: 0 none;
}

/* 清除表单输入框的边框和外轮廓线 */

img {
    border: 0 none;
    vertical-align: middle;
}

/* 低版本的插入图片会默认生成边框 */

i,
em {
    font-style: normal;
}

h1,
h2,
h3,
h4,
b,
strong {
    font-weight: normal;
}

li {
    list-style: none;
}

/* 清除li标签的默认小点点 */

.w {
    width: 1200px;
    margin: 0 auto;
}

/* 设置网页的版心 */

body {
    font: 12px/100% "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    background-color: #fff;
}

/* 修改网页默认字体和行高 */

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}

body,
html {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

/* 设置清除浮动影响 */

.container {
    margin: 0px auto;
    max-width: 600px;
    padding-right: 0px;
    padding-left: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;

    .header {
        height: 45px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: darkorange;
        .previousPage {
        font-size: 25px;
        padding: 10px;
        a {
            color: #fff;
        }
        }
        .right {
            img {
              width: 35px;
            //   height: 30px;
              margin-right: 10px;
         }
        }
        
        h4 {
            font-weight: normal;
            font-size: 20px;
            color: #fff;
        }
    }

    .main {
        flex: 1;
        position: relative;
        .products{
            display: flex;
            flex-wrap: wrap;

            .product{
                width: 50%;
                padding-top: 20px;
                height: 280px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                // align-items: center;
                border-right: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                padding-left:10px;
                &:nth-child(2n){
                    border-right: 0;
                }
                img{
                    width: 140px;
                    height: 140px;
                    align-self: center;
                }
                .proname{
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 18px;
                }
              .prices{
                 color: orangered;
                 font-size: 14px;
                 height: 18px;
                 line-height: 18px;
               }
               .site{
                   line-height: 18px;
                   font-size: 12px;
               }


               
            }
        }  
       
        
    }
    .footer {
        flex-basis: 100px;
        background-color: #efefef;
        
        .footer-nav {
            flex-basis: 35px;
            ul {
                display: flex;
                align-items: center;
                border-top: 1px solid #c4c4c4;
                border-bottom: 1px solid #c4c4c4;
                li {
                    line-height: 35px;
                    flex: 1;
                    text-align: center;
                    border-right: 1px solid #c4c4c4;
                    &:nth-child(3) {
                        border-right: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    a {
                        color: #5a5a5a;
                    }
                    img {
                        width: 15px;
                        display: block;
                    }
                }
            }
        }
        .footer-info {
            height: 65px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #5a5a5a;
            p {
                a {
                    color: red;
                }
            }
        }
    }
}