@import "common.scss";
.main {
    background-color: #ddd;
    .navs {
        height: 45px;
        background-color: #fff;
        display: flex;
        padding: 0 10px;
        background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ebebeb));
        a {
            text-align: center;
            line-height: 45px;
            font-size: 14px;
        }
    }
    .detail {
        height: 290px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #fff;
        .pic {
            height: 180px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 170px;
            }
        }
        .tes {
            color: black;
            padding: 0px 10px;
        }
        .price {
            display: flex;
            justify-content: space-between;
            padding: 0px 10px;
        }
    }
    .tab {
        height: 40px;
        border-top: 1px solid #c14d00;
        border-bottom: 1px solid #c14d00;
        margin-top: 20px;
        display: flex;
        align-items: center;
        li {
            flex: 33.33%;
            display: flex;
            justify-content: center;
            height: 40px;
            line-height: 40px;
            &:nth-child(odd) {
                background-color: #ffc526;
            }
            &:nth-child(2) {
                background-color: #ff9e1f;
                border-left: 1px solid #c14d00;
                border-right: 1px solid #c14d00;
            }
            a {
                color: white;
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
    .bigbox {
        margin-top: 10px;
        padding: 10px;
        background-color: #ededed;
        border: 1px solid #ccc;
        margin: 10px;
        border-radius: 5px;
        .box {
            h4 {
                font-weight: bold;
                padding: 10px 0px;
            }
            ul {
                li {
                    display: flex;
                    border-bottom: 1px solid #ccc;
                    padding: 8px 0px;
                    .left {
                        flex: 1;
                        font-size: 14px;
                        color: #666666;
                    }
                    .right {
                        flex: 1;
                        font-size: 14px;
                        color: #666666;
                        line-height: 20px;
                    }
                }
            }
        }
    }
    .synopsis {
        height: 45px;
        background-color: #ccc;
        padding-top: 10px;
        h4 {
            padding-left: 20px;
            font-weight: bold;
        }
    }
    .shop {
        .price {
            height: 45px;
            background-color: #ccc;
            text-align: center;
            margin-top: 20px;
            font-size: 16px;
            span {
                line-height: 45px;
            }
        }
        .list {
            li {
                display: flex;
                border-bottom: 1px solid #ccc;
                align-items: center;
                margin-bottom: 10px;
                .left {
                    flex: 1;
                }
                .right {
                    float: right;
                    .num {
                        color: red;
                        font-size: 16px;
                    }
                    .btn {
                        background-color: #ff5500;
                        color: white;
                    }
                }
            }
        }
    }
    .message {
        height: 70px;
        .tes {
            margin-top: 20px;
        }
    }
}