@import "./common.scss";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

.container {
    width: 100%;
    .header {
        width: 100%;
        height: 85px;
        position: fixed;
        border: none;
        z-index: 50;
        .header-info {
            padding: 0 30px;
            flex-basis: 85px;
            .titlebur {
                font-size: 25px;
                color: #fff;
                font-weight: bolder;
            }
            .logo {
                .iconfont {
                    color: #ffff;
                    font-size: 20px;
                }
            }
        }
    }
    .footer {
        z-index: 3;
    }
    .main {
        background-color: #f2f2f2;
        padding: 95px 0px 0px 0px;
        .mui-scroll {
            padding: 95px 0px 100px 0px;
            .content {
                margin: 0px auto;
                max-width: 960px;
                
                background-color: #fff;
                padding: 4px 10px;
                .pic {
                    width: 100%;
                    img {
                        width: 218px;
                        margin: 0 auto;
                    }
                }
                .info {
                    margin: 12px 0px;
                    span {
                        color: #999999;
                    }
                }
                .title {
                    color: #000;
                    font-size: 16px;
                    font-weight: 900;
                    line-height: 16px;
                    margin: 10px 0px 5px 0px;
                }
                .subtitle {
                    color: #ff9000;
                    font-size: 18px;
                    line-height: 18px;
                    margin: 10px 0px 5px 0px;
                }
                .golink {
                    height: 40px;
                    margin: 20px 0px 20px 0px;
                    a {
                        display: block;
                        width: 180px;
                        height: 40px;
                        background-color: #ff9000;
                        color: #fff;
                        border-radius: 5px;
                        text-align: center;
                        font-size: 16px;
                        line-height: 40px;
                        margin-left: 10px;
                    }
                }
                .word {
                    font-size: 16px;
                    line-height: 24px;
                    color: #666666;
                }
                .subword {
                    font-size: 16px;
                    line-height: 24px;
                    color: #666666;
                }
                .subpic {
                    img {
                        width: 350px;
                        margin: 0 auto;
                    }
                }
                .dropup{
                     margin-top:10px; 
                    text-align: right;
                    position: relative;
                      #dropdownMenu2{
                          width: 200px;
                          margin: 0 auto;
                  
                      }
                      .dropdown-menu{
                          li{
                              padding: 5px 10px;
                              border-bottom: 1px dotted  #ff841d;
                              span{
                                
                                display: flex;
                                justify-content: space-between;
                                strong{
                                    color: #ff841d;
                                }
                              }
                          }
                      }
                }
                .qr{
                    text-align: right;
                    margin: 20px;
                     height: 100px;
                    img{
                         margin: 0 auto;
                         width: 300px;
                      
                    }
                }
                .cu-content-pl {
                    .tit {
                        font-size: 16px;
                        line-height: 45px;
                    }
                    .ctrl {
                        text-align: right;
                        input {
                            background-color: #ff841d;
                            border: none;
                        }
                    }
                    .list {
                        ul {
                            display: flex;
                            flex-direction: column;
                            .ui-border-b {
                              
                                display: flex; 
                                margin-bottom: 30px;
                                .userimg {
                                    flex-basis: 60px;
                                  
                                    img {
                                        width: 80px;
                                        border-radius: 50%;
                                    }
                                }
                                .con {
                                    flex: 1;
                                    .name {
                                        display: flex;
                                        justify-content: space-between;
                                        .username {
                                            flex: 1;
                                            font-size: 16px;
                                            line-height: 20px;
                                            color: #5c99c1;
                                        }
                                        .time {
                                            flex: 1;
                                            margin-right: 0px;
                                            text-align: right;
                                        }
                                    }
                                    .content {
                                        font-size: 14px;
                                        line-height: 30px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.mui-backdrop{
      width: 0;
      height: 0;
}