<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="./lib/css/mui.min.css">

    <script src="./lib/js/zepto.min.js"></script>

    <script src="./lib/js/mui.min.js"></script>

    <script src="./lib/js/template-web.js"></script>

    <script src="./js/gather.js"></script>

    <link rel="stylesheet" href="./css/gather.css">
</head>
<body>
    <div class="container">
        <div class="top">
            <a class="mui-icon mui-icon-arrowleft back"></a>
            <span class="title">凑单品</span>
            <a class="right"></a>
        </div>
        <div class="select">
            <div class="left">
                <!-- 模板 -->
            </div>
            <div class="right">
                <a class="mui-icon mui-icon-bars"></a>
            </div>
        </div>
        <!-- 点击下拉数据 -->
        <div class="drop">       
            <ul class="mui-table-view">                                    
            </ul>
        </div>
        <div class="main">
           
        </div>
        <div class="footer"></div>
    </div>

    <!-- 用来获取凑单品的店铺的信息 并渲染到店铺的下拉列表 -->
    <script type="text/html" id="shop">
        {{each result v i}}
         <a class="{{if i == 0}}active{{/if}}" data-id="{{i}}">
             <span class="size">{{v.shopName}}</span>
             <span class="mui-icon mui-icon-arrowdown down"></span>
         </a>
         {{/each}}
    </script>

    <!-- 用来获取凑单品的区域的信息 并渲染到区域的下拉列表 -->
    <script type="text/html" id="area">
        {{each result v i}}
        <li id="as" class="mui-table-view-cell" data-id="{{i}}">
            <span>{{v.areaName}}</span>
            <span class="true {{if i == 0}}mui-icon mui-icon-checkmarkempty{{/if}}"></span>
        </li>
         {{/each}}
    </script>

    <!-- 用来获取凑单品的区域的信息 并渲染到区域的下拉列表 -->
    <script type="text/html" id="product">
        {{each result v i}}
      <div class="banner">
                <a href="">
                <img src="{{v.productImg}}" alt="">
                <p class="first">{{v.productName}}</p>
                <p class="second">{{v.productPrice}}</p>
            </a>
            </div>   
         {{/each}}
    </script>


</body>
</html>
<script>
    
</script>